<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="addRoom">

<head>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
</head>

<body>
    <form class="ui form">
        <div style="display: table-cell; vertical-align:middle;">
            <i class="plus square outline large icon" style="display:inline-block; vertical-align: middle;"></i>
            <h4 style="display: inline-block; vertical-align: middle;">เพิ่มห้องประชุม</h4>
        </div>
        <div class="ui divider"></div>
        <div class="field">
            <label>ชื่อห้อง</label>
            <input type="text" name="title" placeholder="What is the room called" id="room-title">
        </div>
        <div class="field">
            <label>สาขา</label>
            <select class="ui dropdown" id="selectAddRoomBranch" onchange="selectBranch()">
                <h th:each="branch : ${branches}">
                    <option onclick="selectBranch()" th:value="${branch.branchID}" th:text="${branch.branchName}">
                    </option>
                </h>
            </select>
        </div>
        <div class="field">
            <label>อาคาร</label>
            <select class="ui dropdown" id="addRoomBuildingDropdown">
            </select>
        </div>
        <div class="field">
            <label>ชั้นที่</label>
            <input type="text" placeholder="..." id="room-floor">
        </div>
        <div class="field">
            <label>จำนวนคนสูงสุดต่อห้อง</label>
            <input type="text" placeholder="..." id="room-maxPeople">
        </div>
        <div style="padding-bottom: 10px;">
    </form>
    <button type="button" class="ui green button" id="addRoomBtn">Reserve</button>
    <button type="button" class="ui red button" id="cancelAddRoom" onclick="closeAddRoomModal()">Cancel</button>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script
    src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<script type="text/javascript" src="/bower_components/semantic-ui-calendar/dist/calendar.min.js"></script>
<link rel="stylesheet" href="/bower_components/semantic-ui-calendar/dist/calendar.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/3.0.3/moment-range.min.js"></script>
<script th:inline="javascript">
    $('#selectAddRoomBranch')
        .dropdown({ placeholder: "กรุณาเลือกสาขา" }).dropdown('clear');

    $('#addRoomBuildingDropdown')
        .dropdown({ placeholder: "กรุณาเลือกอาคาร" });


    addRoomBuildingDropdown = $('#addRoomBuildingDropdown')
    function closeAddRoomModal() {
        console.log("test")
        addRoomModal.style.display = "none";
    }
    function selectBranch() {
        console.log("select Branch")
        var jqxhr = $.post("/selectbranch", {
            branchId: $('#selectAddRoomBranch').val()
        }, function (data) {
            console.log(data)
            // $('#addRoomBuildingDropdown').attr('class', 'ui dropdown')
            $('#addRoomBuildingDropdown').empty()
            for (var i = 0; i < data.length; i++) {
                $('#addRoomBuildingDropdown').append(new Option(data[i].buildingName, data[i].buildingID))
            }
            // $('#addRoomBuildingDropdown').dropdown('set selected',data[0].buildingName)
            addRoomBuildingDropdown.dropdown('set text', data[0].buildingName)
            // $("#addRoomBuildingDropdown").val($("#target option:first").val());
        })
    }

    addRoomBtn.onclick = () => {
        var title = $('#room-title').val()
        var branchId = $('#selectAddRoomBranch').val()
        var buildingId = $('#addRoomBuildingDropdown').val()
        var floorNo = $('#room-floor').val()
        var maxPeople = $('#room-maxPeople').val()

        if (floorNo === "") {
            alert("Field ชั้นที่ Must not be blank")
            return
        }
        else if (isNaN(floorNo)) {
            alert("Field ชั้นที่ Must be a number")
            return
        }
        else if (title === "") {
            alert("Field title Must not be blank")
            return
        }
        else if (branchId === "") {
            alert("Field สาขา Must not be blank")
            return
        }
        else if (buildingId === "") {
            alert("Field อาคาร Must not be blank")
            return
        }
        else if (maxPeople === "") {
            alert("Field จำนวนคนสูงสุดต่อห้อง Must not be blank")
            return
        }
        else if (isNaN(maxPeople)) {
            alert("Field จำนวนคนสูงสุดต่อห้อง Must be a number")
            return
        }
        else {
            var jqxhr = $.post("/addroom", {
                title: title,
                branchId: branchId,
                buildingId: buildingId,
                floorNo: floorNo,
                maxPeople: maxPeople
            }, function (data) {

            })
                .done(function () {
                    alert("Add A Room Successfully");
                    window.location.reload(false);
                })
                .fail(function () {

                })
        }

    }


</script>


</html>