<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="addRoom">

<head>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
</head>

<body>
    <form class="ui form">
        <div style="display: table-cell; vertical-align:middle;">
            <i class="plus square outline large icon" style="display:inline-block; vertical-align: middle;"></i>
            <h4 style="display: inline-block; vertical-align: middle;">เพิ่มห้องประชุม</h4>
        </div>
        <div class="ui divider"></div>
        <div class="field">
            <label>ชื่อห้อง</label>
            <input type="text" name="title" placeholder="What is the room called" id="room-title">
        </div>
        <div class="field">
            <label>สาขา</label>
            <select class="ui dropdown" id="selectAddRoom" onchange="selectBranch()">
                <h th:each="branch : ${branches}">
                    <option onclick="selectBranch()" th:value="${branch.branchID}" th:text="${branch.branchName}">
                    </option>
                </h>
            </select>
        </div>
        <div class="field">
            <label>อาคาร</label>
            <select class="ui dropdown" id="addRoomBuildingDropdown">
            </select>
        </div>
        <div class="field">
            <label>ชั้นที่</label>
            <input type="text" name="title" placeholder="..." id="room-floor">
        </div>
        <div style="padding-bottom: 10px;">
    </form>
    <button type="button" class="ui green button" id="addRoomBtn">Reserve</button>
    <button type="button" class="ui red button" id="cancelAddRoom" onclick="closeAddRoomModal()">Cancel</button>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script
    src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<script type="text/javascript" src="/bower_components/semantic-ui-calendar/dist/calendar.min.js"></script>
<link rel="stylesheet" href="/bower_components/semantic-ui-calendar/dist/calendar.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/3.0.3/moment-range.min.js"></script>
<script th:inline="javascript">
    $('#selectAddRoom')
        .dropdown({ placeholder: "กรุณาเลือกสาขา" }).dropdown('clear');

    $('#addRoomBuildingDropdown')
        .dropdown({ placeholder: "กรุณาเลือกอาคาร" });


    addRoomBuildingDropdown = $('#addRoomBuildingDropdown')
    function closeAddRoomModal() {
        console.log("test")
        addRoomModal.style.display = "none";
    }
    function selectBranch() {
        console.log("select Branch")
        var jqxhr = $.post("/selectbranch", {
            branchId: $('#selectAddRoom').val()
        }, function (data) {
            console.log(data)
            // $('#addRoomBuildingDropdown').attr('class', 'ui dropdown')
            $('#addRoomBuildingDropdown').empty()
            for (var i = 0; i < data.length; i++) {
                $('#addRoomBuildingDropdown').append(new Option(data[i].buildingName, data[i].buildingID))
            }
            // $('#addRoomBuildingDropdown').dropdown('set selected',data[0].buildingName)
            addRoomBuildingDropdown.dropdown('set text', data[0].buildingName)
            // $("#addRoomBuildingDropdown").val($("#target option:first").val());
        })
            .done(function () {

            })
            .fail(function () {

            })
    }

    addRoomBtn.onclick = () => {
        var title = $('#room-title').val()
        var buildingId = $('#selectAddRoom').val()
        var branchId = $('#addRoomBuildingDropdown').val()
        console.log(title)
        console.log(description)
        console.log(room)

        var startDateTime = startDateTime_.replace(",", "")
        var endDateTime = endDateTime_.replace(",", "")

        startDateTime = startDateTime.split(" ")
        endDateTime = endDateTime.split(" ")

        console.log(startDateTime)
        console.log(endDateTime)

        var timePeroids = []
        var datas = /*[[${reserves}]]*/[];
        datas = datas.filter((x) => {
            return x.roomID === parseInt(room)
        })
        console.log("datas", datas)
        var months = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
        ];

        function shiftTime(timestr, shiftstr) {
            timestr_s = timestr.split(":")
            if (shiftstr.toLowerCase() === "am") {
                if (timestr_s[0] === "12") return "0" + ":" + timestr_s[1]
                return timestr
            }
            else {
                if (timestr_s[0] === "12") return timestr
                else {
                    return (parseInt(timestr_s[0]) + 12) + ":" + timestr_s[1]
                }
            }
            return timestr
        }

        window['moment-range'].extendMoment(moment);

        function isOverlapTime(timeSegments) {

            timeSegments.sort((a, b) => {
                return parseInt(a[0].split(":")[0]) - parseInt(b[0].split(":")[0])
            })
            let ret = false;
            let i = 0;
            while (!ret && i < timeSegments.length - 1) {
                let seg1 = timeSegments[i];
                let seg2 = timeSegments[i + 1];
                console.log(i, seg1, seg2)
                let range1 = moment.range(moment(seg1[0], 'HH:mm'), moment(seg1[1], 'HH:mm'));
                let range2 = moment.range(moment(seg2[0], 'HH:mm'), moment(seg2[1], 'HH:mm'));
                if (range1.overlaps(range2)) {
                    ret = true;
                }
                i++;
            }
            return ret;
        }
        var TIME_INDEX = 3;
        var YEAR_INDEX = 2;
        var DAY_INDEX = 1;
        var MONTH_INDEX = 0;
        var SHIFT_INDEX = 4
        for (var i = 0; i < datas.length; i++) {
            console.log(datas[i])
            startdate = new Date(datas[i].startDateTime)
            enddate = new Date(datas[i].endDateTime)
            // console.log(startdate.getFullYear().toString())
            // console.log(startDateTime[YEAR_INDEX])
            // console.log(startdate.getMonth())
            // console.log(months.indexOf(startDateTime[MONTH_INDEX]))
            // console.log(startdate.getDate().toString())
            // console.log(startDateTime[DAY_INDEX].toString())
            var isSameDate = startdate.getFullYear().toString() === startDateTime[YEAR_INDEX] &
                startdate.getMonth() == (months.indexOf(startDateTime[MONTH_INDEX])) & startdate.getDate().toString() === startDateTime[DAY_INDEX].toString()
            if (isSameDate) {
                var startmin = startdate.getMinutes().toString()
                var endmin = enddate.getMinutes().toString()
                if (startmin.length == 1) {
                    startmin = "0" + startmin
                }
                if (endmin.length == 1) {
                    endmin = "0" + startmin
                }
                startTimeStr = startdate.getHours().toString() + ':' + startmin
                endTimeStr = enddate.getHours().toString() + ':' + endmin
                timePeroids.push([startTimeStr, endTimeStr])
            }

        }

        timePeroids.push([shiftTime(startDateTime[TIME_INDEX], startDateTime[SHIFT_INDEX]), shiftTime(endDateTime[TIME_INDEX], endDateTime[SHIFT_INDEX])])
        console.log(timePeroids)
        var isOverlapTimes = isOverlapTime(timePeroids)
        console.log(isOverlapTimes)
        if (!isOverlapTimes) {

        }

        else {

            alert("Your selected time range is busy for this room")
        }
        // Perform other work here ...

        // Set another completion function for the request above
    }


</script>


</html>