<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

<head>
    <title>Welcome to Spring Security Thymeleaf tutorial</title>
</head>

<body>
    <nav th:include="navbar :: navbar(${username})"></nav>

    <div >
        <div class="ui internally celled grid">
            <div class="three wide column">
                
                <h3 class="ui header">Rom Klao Headquarter</h3>
                <div class="ui secondary vertical pointing menu">
                    <h3 th:each="HOroom : ${HORooms}">
                        <a class="item" th:href="@{/branch/{roomid}(roomid = ${HOroom.roomID})}"
                            th:text="${HOroom.roomName + ' (' + HOroom.roomNo + ')'}" > /br</a>
                    </h3>
                </div>

                <h3 class="ui header">Rojana Branch</h3>
                <div class="ui secondary vertical pointing menu">
                    <h3 th:each="RJroom : ${RJRooms}">
                        <a class="item" th:href="@{/branch/{roomid}(roomid = ${RJroom.roomID})}"
                            th:text="${RJroom.roomName + ' (' + RJroom.roomNo + ')'}" > /br</a>
                    </h3>
                </div>
            </div>
            <div class="nine wide column">
                <nav th:include="calendar :: calendar(${reserves})"></nav>
            </div>
        </div>
    </div>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>