<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navbar(username)">

<head>
    <style>
        body {
            margin-top: 0 !important;
            padding-top: 0 !important;
            margin-bottom: 20px;
        }
        .ui.menu {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
</head>

<body>
    <div class="ui menu">
        <div class="item">
            <img class = "ui tiny image" src="https://uppic.cc/d/BO984QvFGnpGE5x0c_Uz0" style="display: inline-block;">
            <div style="display: inline-flex; font-size:large; font-weight: bold;">Conference Room Reservation</div>
        </div>
        <a class="item">
            Calendar
        </a>
        <a class="item" id="reserve">
            Reserve
        </a>
        <div class="item right aligned red" style="display:inline-block">
            <button class="ui button red">Sign Out</button>
        </div>
        <div class="item right aligned" style="display:inline-block">
            <i class="user icon " style="display:inline-block"></i>
            <div th:text="${username}" style="display:inline-block"></div>
        </div>>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>

</html>